.card {
	background-color: var(--color-primary);
	/* background-color: blue; */
	padding: 2rem;
	margin: 1rem auto;
	border-radius: 16px;
	max-width: 300px;
	box-shadow: 0 5px 15px #000;
	color: var(--color-gris-06);
	transition: ease 0.3s;
	font-family: var(--fuente-parrafo);
	display: flex;
	flex-direction: column;
	position: relative;
	height: 1200px;
}

.card:active,
.card:hover {
	transform: scale(1.05);
	z-index: 8;
}

.card .button-cv {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.container-image {
	max-width: 250px;
	height: 300px;
	overflow: hidden;
	background-color: var(--color-gris-03);
	margin: 0 auto 2rem auto;
	border-radius: 10px;
	box-shadow: 0 5px 15px #000;
}

.container-image img {
	max-width: 100%;
	height: auto;
}
header .name {
	text-align: center;
	font-weight: 400;
}

div .rol {
	font-weight: 400;
	padding: 2rem 0 0 0;
}
.summary {
	padding-top: 2rem;
	line-height: 1.6;
	text-align: justify;
}
main .container-links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem 0;
}

main .container-links a {
	color: var(--color-gris-06);
	transition: color ease 0.3s;
	position: relative;
	/* background-color: blue; */
	padding: 1rem 0;
	margin-right: 1rem;
}
main .container-links a::before {
	content: "";
	background-color: var(--color-secondary);
	height: 2px;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width ease 0.3s;
}
main .container-links a {
	width: 18rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
main .container-links a i {
	margin-left: 2rem;
	font-size: 2rem;
}
main .container-links a:hover {
	color: var(--color-secondary);
}

main .container-links a:hover i {
	color: var(--color-secondary);
}

main .container-links a:hover::before {
	width: 18rem;
}

.container-button {
	margin-top: auto;
	justify-content: flex-end;
}

span {
	font-weight: bold;
	color: var(--color-secondary);
	text-transform: uppercase;
}
