.navbar {
	display: flex;

	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	padding: var(--medium-1);
	gap: 2rem;
	box-shadow: 0 2px 8px #000;
	font-family: var(--fuente-titulo);
	/* background-color: red; */
}

.navbar .logo {
	background-color: var(--color-gris-06);
	width: 80px;
	border-radius: 50%;
}

.navbar .logo img {
	width: 100%;
}

.navbar .links {
	display: flex;
	justify-content: space-between;
	/* background-color: red; */
	width: 18rem;
	gap: 1rem;
}

.navbar .links a,
i {
	color: var(--color-gris-06);
	border: 2px solid transparent;
	border-radius: 2rem;
	padding: 1rem;
	transition: color ease 0.3s;
	position: relative;
}

.navbar .links a::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 2px;
	background-color: var(--color-secondary);
	left: 50%;
	bottom: 4px;
	border-radius: 5px;
	transform: translateX(-50%);
	transition: width ease 0.3s;
}

.navbar .links a h1 {
	font-weight: 400;
	font-size: 2rem;
}

.navbar .links a:hover {
	color: var(--color-secondary);
	/* border: 2px solid var(--color-secondary); */
}
.navbar .links a:hover::before {
	width: 100%;
}

/* ============================================== */

@media (min-width: 480px) {
	.navbar {
		/* background-color: red; */
	}

	.navbar .links {
		width: 22rem;
	}

	.navbar .links a h1 {
		font-size: 2.4rem;
	}
}
